// COLORS
$white-color: #FFFFFF;
$page-background-color: #F2F2F2;
$main-color: #81B3D2;
$black-color: #000000;
$black-light-color: #333333;
$active-link-color: #766357;

// QUERIES
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;

// FONTS
$main-font: 'PT Sans', 'Arial', sans-serif;

//OTHER
$basic-animation: all 0.4s cubic-bezier(0.1, 0.82, 0.76, 0.96);